<div class="container m-5">
    <div class="row p-5">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Administración de Usuarios</h5>
              <p class="card-text">Componente que permite la administraciónde  los usuarios.</p>
              <a [routerLink]="['/users']" class="btn btn-outline-danger btn-sm btn-block mx-1"> <b> Ir a Usuarios </b></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Administración de Roles</h5>
              <p class="card-text">Componente que permite la administraciónde  los roles.</p>
              <a [routerLink]="['/']" class="btn btn-outline-primary btn-sm btn-block mx-1"><b>Ir a Roles</b></a>
            </div>
          </div>
        </div>
      </div>
</div>